/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 *                           VARIABLES
 *========================================================================**/
/**============================================
   *               Base Colors
   *=============================================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *      Transparent
   *========================**/
/**======================
   *      Links
   *========================**/
/**========================================================================
 *                           MEDIA BREAKPOINTS
 *========================================================================**/
/**========================================================================
 *                           Mixins
 *========================================================================**/
/**========================================================================
 *                           BASE
 *========================================================================**/
/**============================================
   *               Reset
   *=============================================**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: white;
  color: #333333;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden; }

a {
  color: inherit;
  text-decoration: none; }

.img {
  width: 100%;
  height: 100%;
  border-radius: 4px; }

/**========================================================================
 *                           mainContent
 *========================================================================**/
.mainContent {
  height: 90vh; }
  .mainContent-shows {
    height: auto; }
  .mainContent-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 3rem 0; }
  .mainContent-twoColumn {
    display: flex;
    height: 100%;
    padding: 3rem 0; }
  .mainContent-multiColumn {
    display: flex;
    height: 100%;
    padding: 3rem 0; }

.mainContent-leftColumn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }

.mainContent-rightColumn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; }

.mainContent-column {
  width: 20%;
  margin: 0 2rem; }

.mainContent-heading {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center; }

.mainContent-form {
  width: 85%; }

/**========================================================================
 *                           navBar
 *========================================================================**/
.navBar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #494949; }
  .navBar-logo {
    padding: 0 3rem;
    font-size: 5rem;
    color: white; }
  .navBar-list {
    display: flex;
    list-style: none;
    padding: 0 3rem;
    font-size: 1.8rem;
    color: white; }
    .navBar-list--item {
      padding: 0 2rem;
      text-decoration: underline; }

.landing-navBar {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.136); }

/**========================================================================
 *                           contactBooking
 *========================================================================**/
.contactBooking {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.799); }
  .contactBooking-logo {
    padding: 0 3rem;
    font-size: 3rem;
    color: #494949; }
  .contactBooking-info--text {
    padding: 0 3rem;
    font-size: 1.8rem;
    color: #494949; }

/**========================================================================
 *                          setList
 *========================================================================**/
.margin-top {
  margin-top: 2rem; }

.songInfo {
  margin-bottom: 1rem; }
  .songInfo--title {
    font-size: 1.6rem; }
  .songInfo--artist {
    font-size: 1.4rem; }

/**========================================================================
 *                           BASE
 *========================================================================**/
.about-image {
  width: 75%;
  height: 100%; }

.about-bio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-subHeading {
  font-size: 2.5rem;
  margin: 2rem 0; }

.about-text {
  width: 80%;
  line-height: 1.5;
  font-size: 1.7rem; }

/**========================================================================
 *                          shows
 *========================================================================**/
.showList {
  width: 50%; }
  .showList-setGroup {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(73, 73, 73, 0.684); }
    .showList-setGroup > * {
      margin: 1rem 0; }
  .showList-date {
    font-size: 1.8rem; }
  .showList-location {
    font-size: 1.4rem; }
  .showList-performers {
    font-size: 2rem; }
  .showList-tickets {
    font-size: 1.8rem;
    color: #0000ee; }

/**========================================================================
 *                           video
 *========================================================================**/
/**========================================================================
 *                           contact
 *========================================================================**/
.contactForm {
  width: 100%;
  font-size: 1.7rem; }
  .contactForm-inputContainer {
    margin: 2rem 0;
    width: 100%; }
    .contactForm-inputContainer--name {
      width: 100%; }
      .contactForm-inputContainer--name:first-child {
        margin-right: 5px; }
  .contactForm-inputContainer-btn {
    display: flex;
    justify-content: center; }
  .contactForm-inputContainer-flex {
    margin: 2rem 0;
    display: flex;
    flex-wrap: nowrap; }
  .contactForm-label {
    width: 100%;
    font-size: 1.9; }
  .contactForm-name {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-email {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-subject {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-message {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem 0;
    height: 10rem;
    margin-top: 7px; }
  .contactForm-btn {
    background-color: transparent;
    border: 2px solid #aeacac;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    text-transform: uppercase; }

/**========================================================================
 *                           landing
 *========================================================================**/
.landing {
  height: 100vh;
  background-image: url("../img/sam_bodi_landing.jpg");
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .landing-header--main {
      color: white;
      font-size: 10rem; }
    .landing-header--secondary {
      color: white;
      font-size: 4rem; }

.landing-btn {
  border: none;
  color: #494949;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  font-size: 2rem;
  background-color: rgba(233, 233, 233, 0.799);
  cursor: pointer; }
