/**=======================================================================================================================
 **                                                    MAIN
 *=======================================================================================================================**/
/**========================================================================
 *                           VARIABLES
 *========================================================================**/
/**============================================
   *               Base Colors
   *=============================================**/
/**======================
   *      Primary
   *========================**/
/**======================
   *      Transparent
   *========================**/
/**======================
   *      Links
   *========================**/
/**========================================================================
 *                           MEDIA BREAKPOINTS
 *========================================================================**/
/**========================================================================
 *                           Mixins
 *========================================================================**/
/**========================================================================
 *                           BASE
 *========================================================================**/
/**============================================
   *               Reset
   *=============================================**/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background: white;
  color: #333333;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  height: 100vh; }

a {
  color: inherit;
  text-decoration: none; }

.img {
  width: 100%;
  height: 100%;
  border-radius: 4px; }

.margin-top {
  margin-top: 3rem; }

/**========================================================================
 *                           mainContent
 *========================================================================**/
.mainContent-shows {
  height: auto; }

.mainContent-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 3rem 0; }

.mainContent-twoColumn {
  display: flex;
  height: 100%;
  padding: 3rem 0;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .mainContent-twoColumn {
      flex-direction: column-reverse; } }

.mainContent-multiColumn {
  display: flex;
  height: 100%;
  padding: 3rem 0;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 37.5em) {
    .mainContent-multiColumn {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 53.125em) {
    .mainContent-multiColumn {
      flex-wrap: wrap; } }

.mainContent-leftColumn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .mainContent-leftColumn {
      width: 90%; } }

.mainContent-rightColumn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .mainContent-rightColumn {
      width: 90%;
      padding: 0; } }

.mainContent-column {
  width: 20%;
  margin: 0 2rem;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 37.5em) {
    .mainContent-column {
      width: 80%; } }
  @media (max-width: 53.125em) {
    .mainContent-column {
      width: 40%; } }

.mainContent-heading {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300; }

.mainContent-form {
  width: 85%; }

/**========================================================================
 *                           navBar
 *========================================================================**/
.navBar {
  background-position: 50% 50%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/piano_background.jpg);
  background-size: 100%;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e6e6e;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .navBar {
      display: none; } }
  .navBar-logo {
    padding: 0 3rem;
    font-size: 5rem;
    color: white; }
  .navBar-list {
    display: flex;
    list-style: none;
    padding: 0 3rem;
    font-size: 2rem;
    color: white; }
    .navBar-list--item {
      padding: 0 2rem;
      text-decoration: underline; }

.landing-navBar {
  height: 13vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.35);
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .landing-navBar {
      display: none; } }

.topnav {
  overflow: hidden;
  background-color: #333333;
  position: static;
  top: 0;
  left: 0;
  display: none;
  z-index: 10; }

.topnav a {
  color: white;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  font-size: 1.7rem;
  display: block;
  overflow: hidden; }

.icon {
  overflow: hidden;
  background-color: #333333;
  color: white;
  font-size: 1.8rem;
  padding: 1.4rem 1.6rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (min-width: 53.125em) {
    .icon {
      display: none; } }

.topnav a:hover {
  background-color: #e9e9e9;
  color: #333333; }

.active {
  display: block; }

/**========================================================================
 *                           contactBooking
 *========================================================================**/
.contactBooking {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(204, 203, 203, 0.799); }
  .contactBooking-logo {
    padding: 0 3rem;
    font-size: 3rem;
    color: #333333;
    /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
    /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
    /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
    /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
    /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
    /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
    /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
    @media (max-width: 37.5em) {
      .contactBooking-logo {
        display: none; } }
  .contactBooking-info {
    flex-basis: 100%; }
    .contactBooking-info--text {
      text-align: center;
      padding: 0 3rem;
      font-size: 1.8rem;
      color: #333333; }
  .contactBooking-highlight {
    color: #0000ee; }

.contactBookingFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(204, 203, 203, 0.799); }

/**========================================================================
 *                          setList
 *========================================================================**/
.songInfo {
  margin-bottom: 1rem; }
  .songInfo--title {
    font-size: 1.6rem; }
  .songInfo--artist {
    font-size: 1.4rem; }

/**========================================================================
 *                           BASE
 *========================================================================**/
.about-image {
  width: 75%;
  height: 100%; }

.about-bio {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-subHeading {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 300; }

.about-text {
  width: 85%;
  line-height: 1.5;
  font-size: 1.7rem; }

/**========================================================================
 *                          shows
 *========================================================================**/
.showList {
  width: 50%;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 37.5em) {
    .showList {
      width: 90%; } }
  .showList-setGroup {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(73, 73, 73, 0.684); }
    .showList-setGroup > * {
      margin: 1rem 0; }
  .showList-date {
    font-size: 1.8rem; }
  .showList-location {
    font-size: 1.4rem; }
  .showList-performers {
    font-size: 2rem; }
  .showList-tickets {
    font-size: 1.8rem;
    color: #0000ee; }

/**========================================================================
 *                           video
 *========================================================================**/
/**========================================================================
 *                           contact
 *========================================================================**/
.contactForm {
  width: 100%;
  font-size: 1.7rem; }
  .contactForm-inputContainer {
    margin: 2rem 0;
    width: 100%; }
    .contactForm-inputContainer--name {
      width: 100%; }
      .contactForm-inputContainer--name:first-child {
        margin-right: 5px; }
  .contactForm-inputContainer-btn {
    display: flex;
    justify-content: center; }
  .contactForm-inputContainer-flex {
    margin: 2rem 0;
    display: flex;
    flex-wrap: nowrap; }
  .contactForm-label {
    width: 100%;
    font-size: 1.9; }
  .contactForm-name {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-email {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-subject {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px; }
  .contactForm-message {
    background-color: rgba(187, 187, 187, 0.136);
    border: 2px solid #aeacac;
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem 0;
    height: 10rem;
    margin-top: 7px; }
  .contactForm-btn {
    background-color: transparent;
    border: 2px solid #aeacac;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer; }

/**========================================================================
 *                           landing
 *========================================================================**/
.landing {
  height: 100vh;
  background-image: url("../img/sam_bodi_landing.jpg");
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
  /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
  /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
  /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
  /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
  /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
  @media (max-width: 53.125em) {
    .landing {
      background-size: 100%; } }
  .landing-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive; }
    .landing-header--main {
      color: white;
      font-size: 10rem;
      /**============================================
   *             Mobile Small - 600
@include respond(break-600) {}
   *=============================================**/
      /**============================================
   *             Mobile Large - 850
@include respond(break-850) {}
   *=============================================**/
      /**============================================
   *                Tablet - 1000
@include respond(break-850X) {}
   *=============================================**/
      /**============================================
   *                Tablet - 1000
@include respond(break-1000) {}
   *=============================================**/
      /**============================================
   *                Monitor Small - 1200
   @include respond(break-1200) {}
   *=============================================**/
      /**============================================
   *                Monitor Medium - 1400
   @include respond(break-1400) {}
   *=============================================**/
      /**============================================
   *                Telvision/Projector > 1800
   @include respond(break-1800) {}
   *=============================================**/ }
      @media (max-width: 53.125em) {
        .landing-header--main {
          text-align: center; } }
    .landing-header--secondary {
      color: white;
      font-size: 4rem; }

.landing-btn {
  margin-top: 2rem;
  background-color: transparent;
  border: 2px solid white;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: background-color 0.4s; }
  .landing-btn:hover {
    background-color: rgba(255, 102, 0, 0.571); }
