/**========================================================================
 *                          ANIMATIONS 
 *========================================================================**/
// --------- KEY FRAMES --------- //

// --- fade in
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s forwards;
}

// --- scroll arrow
@keyframes scrollArrow {
  0% {
    transform: scale(1);
    color: $color-white;
  }
  20% {
    transform: scale(1.4);
    color: $color-light-red;
  }

  60% {
    transform: scale(1);
    color: $color-blue;
  }
  100% {
    transform: scale(1);
  }
}
.scrollArrow {
  animation: scrollArrow 4s infinite ease-in-out;
}
