/**========================================================================
 *                           CONTACT
 *========================================================================**/
.contact {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../img/sam-bodhi-blue.jpg'), url('../img/sam-bodhi-red.jpg'),
    url('../img/sam-bodhi-green.jpg');
  background-size: contain, 50%, contain;
  background-position: left, center, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  z-index: 10;
  margin: 0;
  @include respond(break-1600) {
    height: 90vh;
  }
  @include respond(break-850) {
    background-image: none;
    background-color: $color-black;
  }

  &__heading {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
    padding: 2rem 0;
    color: $color-white;
  }
}

.form {
  opacity: 0;
  width: 80%;
  font-size: 1.7rem;
  margin: 0 auto;
  & > * {
    color: $color-white;
  }
  @include respond(break-850) {
    width: 100%;
  }
  &__miniContainer {
    margin: 2rem 0;
    display: flex;
    flex-wrap: nowrap;
  }

  &__input {
    background-color: $color-form-transparent;
    border: 2px solid $color-light-gray;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px;
    &--container {
      width: 100%;
      margin: 2rem 0;
      &:first-child {
        margin-right: 5px;
      }
    }
  }

  &__label {
    width: 100%;
    font-size: 1.9;
  }

  &__btn {
    background-color: transparent;
    border: 2px solid $color-light-gray;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-white;
    &--container {
      display: flex;
      justify-content: center;
    }
  }
}

.container__centered {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;
}

.container__form {
  background-color: $color-gray-transparent;
  padding: 1rem;
  @include respond(break-850) {
    display: flex;
    align-items: center;
    height: 90vh;
  }
}
