/**========================================================================
 *                           contact
 *========================================================================**/
.mainContent-contact {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../img/sam-bodhi-blue.jpg'), url('../img/sam-bodhi-red.jpg'),
    url('../img/sam-bodhi-green.jpg');
  background-size: contain, 50%, contain;
  background-position: left, center, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  z-index: 10;
  margin: 0;
  @include respond(break-850) {
    background-image: none;
    background-color: $color-black;
  }
}

.mainContent-heading--contact {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  color: $color-white;
}
.mainContent-centered--contact {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;
}
.contactForm {
  opacity: 0;
  width: 80%;
  font-size: 1.7rem;
  margin: 0 auto;
  & > * {
    color: $color-white;
  }
  @include respond(break-850) {
    width: 100%;
  }
  &-inputContainer {
    margin: 2rem 0;
    &--name {
      width: 100%;
      &:first-child {
        margin-right: 5px;
      }
    }
    width: 100%;
  }
  &-inputContainer-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  &-inputContainer-flex {
    margin: 2rem 0;
    display: flex;
    flex-wrap: nowrap;
  }
  &-label {
    width: 100%;
    font-size: 1.9;
  }
  &-name {
    background-color: $color-form-transparent;
    border: 2px solid $color-light-gray;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px;
  }
  &-email {
    background-color: $color-form-transparent;
    border: 2px solid $color-light-gray;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px;
  }
  &-subject {
    background-color: $color-form-transparent;
    border: 2px solid $color-light-gray;
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin-top: 7px;
  }
  &-message {
    background-color: $color-form-transparent;
    border: 2px solid $color-light-gray;
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem 0;
    height: 10rem;
    margin-top: 7px;
  }
  &-btn {
    background-color: transparent;
    border: 2px solid $color-light-gray;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
    color: $color-white;
  }
}

.fade-in {
  animation: fadeIn 1s 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
