/**========================================================================
 *                           contactBooking
 *========================================================================**/
.contactBooking {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray;
  &-logo {
    padding: 0 3rem;
    font-size: 3rem;
    color: $color-black;
    @include respond(break-850) {
      display: none;
    }
  }
  &-info {
    flex-basis: 100%;
    &--text {
      text-align: center;
      padding: 0 3rem;
      font-size: 1.8rem;
      color: $color-black;
    }
  }
  &-highlight {
    color: $color-link;
  }
}

.contactBookingFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-gray;
  @include respond(break-850) {
    position: relative;
  }
}
