/**========================================================================
 *                           landing
 *========================================================================**/

.landing {
  height: 100vh;
  background-image: url('../img/sam_bodi_landing.jpg');
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Dancing Script', cursive;

    &--main {
      color: $color-white;
      font-size: 10rem;
    }

    &--secondary {
      color: $color-white;
      font-size: 4rem;
    }
  }
}

.landing-btn {
  margin-top: 2rem;
  background-color: transparent;
  border: 2px solid $color-white;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-white;
  transition: background-color 0.4s;
  &:hover {
    background-color: $color-red;
  }
}
