/**========================================================================
 *                           mainContent
 *========================================================================**/

//MAIN LAYOUT
.mainContent {
  &-shows {
    height: auto;
  }

  &-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 3rem 0;
  }
  &-twoColumn {
    display: flex;
    height: 100%;
    padding: 3rem 0;
    @include respond(break-850) {
      flex-direction: column-reverse;
    }
  }
  &-multiColumn {
    display: flex;
    height: 100%;
    padding: 3rem 0;
    @include respond(break-600) {
      flex-direction: column;
      align-items: center;
    }
    @include respond(break-850) {
      flex-wrap: wrap;
    }
  }
}
//TWO COLUMN
.mainContent {
  &-leftColumn {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include respond(break-850) {
      width: 90%;
    }
  }
  &-rightColumn {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    @include respond(break-850) {
      width: 90%;
      padding: 0;
    }
  }
}

//MULTI COLUMN
.mainContent-column {
  width: 20%;
  margin: 0 2rem;
  @include respond(break-600) {
    width: 80%;
  }
  @include respond(break-850) {
    width: 40%;
  }
}
//UNIVERSAL HEADING
.mainContent-heading {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.mainContent-form {
  width: 85%;
}
