/**========================================================================
 *                          MODALS 
 *========================================================================**/
// --------- SONG LIST STYLES --------- //
.songList {
  margin-top: 2rem auto;

  &__header {
    font-size: 2.5rem;
    color: $color-white;
    text-decoration: underline;
    margin-bottom: 1rem;
    &--shows {
      color: $color-black;
    }
  }
  &__link {
    color: $color-blue;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
// --------- MODAL STYLES --------- //
.modal {
  &__songs {
    height: 90vh;
    width: 40vw;
    position: absolute;
    top: 0;
    //todo - flex column mixin
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-modal-transparent;
    z-index: 10;
    overflow: scroll;

    &--jazz,
    &--americana,
    &--blues,
    &--original {
      opacity: 0;
    }

    //* == MOBILE QUERIES == //
    @include respond(break-1600) {
      width: 100%;
    }
  }

  &__origin {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
    width: 75%;
    border-radius: 15px;
    background-color: $color-black-transparent-2;
    @include respond(break-850) {
      width: 100%;
      bottom: 0;
    }
  }

  &__header {
    width: 100%;
    text-align: center;
    &--songs {
      font-size: 4.5rem;
      font-weight: 300;
    }
    &--about {
      color: $color-white;
      margin: 1rem 0;
      font-size: 2.7rem;
    }
  }

  &__text {
    color: $color-white;
    font-size: 1.7rem;
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    padding: 1rem;
    & > li:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__close {
    height: 5rem;
    width: 5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    animation: scaleUp 2s infinite linear;

    &--line1,
    &--line2 {
      position: absolute;
      top: 25%;
      width: 4rem;
      margin: 1rem;
      height: 2px;
      background-color: $color-red;
    }
    &--line1 {
      transform-origin: bottom;
      transform: rotate(45deg);
    }
    &--line2 {
      transform-origin: initial;
      transform: rotate(-45deg);
    }

    //* == MOBILE QUERIES == //
    @include respond(break-850) {
      position: fixed;
      top: 5rem;
      right: 1rem;
    }
  }
}
