.flex {
  display: flex;
}

.modal {
  &__songs {
    background-color: red;
    width: 50rem;
    height: 50rem;
    z-index: 10;
    overflow: auto;
    &--outer {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: blue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--inner {
      position: relative;
      width: 95%;
      height: 95%;
      background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--jazz {
      opacity: 1;
    }
    &--americana {
      opacity: 0;
    }
    &--blues {
      opacity: 0;
    }
    &--original {
      opacity: 0;
    }
    &--jazz,
    &--americana,
    &--blues,
    &--original {
      // opacity: 0;
    }
  }
  &__list {
    list-style: none;
    padding: 1rem;
    & > li:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__close--songs {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $color-black;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    transform: scale(1);

    &:hover {
      transform: scale(1.1);
    }
  }

  //* == MOBILE QUERIES == //
  @include respond(break-1600) {
    width: 100%;
  }
}
