/**========================================================================
 *                          setList
 *========================================================================**/

.songInfo {
  margin-bottom: 1rem;
  padding-top: 1rem;
  &--title {
    font-size: 1.6rem;
  }
  &--artist {
    font-size: 1.4rem;
  }
}
