/**========================================================================
 *                          shows
 *========================================================================**/

.showList {
  width: 50%;
  background-color: rgb(255, 255, 255);
  // background-image: linear-gradient(
  //   to bottom,
  //   rgba(255, 255, 255, 0.8),
  //   rgba(255, 255, 255, 0.8),
  //   rgba(255, 255, 255, 0.8)
  // );
  z-index: 1;
  @include respond(break-600) {
    width: 90%;
  }
  &-setGroup {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $color-dark-gray-transparent;

    > * {
      margin: 1rem 0;
    }
  }

  &-upcoming {
    height: 100%;
  }
  &-date {
    font-size: 1.8rem;
  }
  &-location {
    font-size: 2rem;
    font-weight: bold;
  }
  &-performers {
    font-size: 2rem;
  }
  &-tickets {
    font-size: 1.8rem;
    color: $color-link;
  }
  &-h4 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
}
.video-background-left {
  position: absolute;
  width: 30%;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  @include respond(break-850) {
    display: none;
  }
}

.video-background-right {
  position: absolute;
  width: 30%;
  z-index: -1;
  top: 50%;
  right: 0;
  transform: translateY(-40%) rotateY(180deg);
  @include respond(break-850) {
    display: none;
  }
}
