/**========================================================================
 *                           VARIABLES
 *========================================================================**/

/**============================================
   *               Base Colors
   *=============================================**/

/**======================
   *      Primary
   *========================**/

$color-white: rgb(255, 255, 255);
$color-off-white: rgb(233, 233, 233);
$color-gray: rgb(150, 150, 150);
$color-light-gray: rgb(174, 172, 172);
$color-dark-gray: rgb(110, 110, 110);
$color-black: rgb(51, 51, 51);
$color-red: rgba(255, 102, 0, 0.571);
$color-orange: rgba(255, 102, 0, 0.815);

/**======================
   *      Transparent
   *========================**/

$color-gray-transparent: rgba(0, 0, 0, 0.35);
$color-form-transparent: rgba(187, 187, 187, 0.136);
$color-off-white-transparent: rgba(204, 203, 203, 0.799);
$color-dark-gray-transparent: rgba(73, 73, 73, 0.684);

/**======================
   *      Links
   *========================**/

$color-link: #0000ee;
$color-link-visited: #551a8b;
