/**========================================================================
 *                          VIDEO SAMPLE PAGE 
 *========================================================================**/
// --------- VIDEO PAGE STYLES --------- //
.video {
  position: relative;
  //todo - flex column mixin
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: auto;
  @include respond(break-1600-over) {
    height: 90vh;
  }
  @include respond(break-850) {
  }

  &__header {
    margin-bottom: 2rem;
    font-size: 6rem;
    color: $color-white;
    font-weight: 300;
    text-align: center;

    //* == MOBILE QUERIES == //
    @include respond(break-850) {
      font-size: 4rem;
      text-align: center;
    }
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}

// --------- LIST STYLES --------- //
.list__song {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;

  &--title {
    font-weight: 600;
  }
  &--artist {
    font-style: italic;
  }
}

// --------- CONTAINER STYLES --------- //

// outter
.container__outter {
  height: 100%;
  width: 100%;
  //todo - flex column mixin
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(45, 45, 45),
    rgb(70, 70, 70) 10%,
    rgb(45, 45, 45)
  );

  //* == MOBILE QUERIES == //
  @include respond(break-850) {
    padding-bottom: 1rem;
  }
}

// accent
.container__accent {
  height: 90%;
  width: 95%;
  //todo - flex row mixin
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 20px;
  //todo - video background mixin
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../img/sam-bodhi-walk.jpg'), url('../img/sam-bodhi-walk2.jpg');
  background-position: left, right;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;

  //* == MOBILE QUERIES == //
  @include respond(break-850) {
    padding: 1rem 0;
    background-image: none;
  }
}

// inner
.container__inner {
  padding: 3rem;
  width: 35%;
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  //todo - flex row mixin
  display: flex;
  flex-direction: column;
  align-items: center;

  //* == MOBILE QUERIES == //
  @include respond(break-850) {
    flex-direction: column;
    width: 100%;
  }
}

// demo
.container__demo {
  height: 100%;
  width: 100%;
  //todo - flex column mixin
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //* == MOBILE QUERIES == //
  @include respond(break-850) {
    width: 100%;
  }
}

// video
.container__video {
  height: 35rem;
  width: 100%;
  background-color: $color-black;
  margin-bottom: 1rem;

  //* == MOBILE QUERIES == //
  @include respond(break-850) {
    height: 30rem;
    width: 100%;
  }
}
