/**========================================================================
 *                           video
 *========================================================================**/

.videoPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  @include respond(break-850) {
    height: auto;
  }
  &-outterContainer {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(45, 45, 45),
      rgb(70, 70, 70) 10%,
      rgb(45, 45, 45)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(break-850) {
      padding-bottom: 1rem;
    }
  }

  &-accentContainer {
    height: 90%;
    width: 95%;
    margin: 1rem 0;
    border-radius: 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url('../img/sam-bodhi-walk.jpg'), url('../img/sam-bodhi-walk2.jpg');
    background-position: left, right;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(break-850) {
      padding: 1rem 0;
      background-image: none;
    }
  }
  &-innerContainer {
    padding: 0 3rem;
    width: 35%;
    border-radius: 20px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(break-850) {
      flex-direction: column;
      width: 100%;
    }
  }

  &-demoContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include respond(break-850) {
      width: 100%;
    }
  }
  &-videoContainer {
    height: 35rem;
    width: 100%;
    background-color: $color-black;
    margin-bottom: 1rem;
    @include respond(break-850) {
      height: 30rem;
      width: 100%;
    }
  }
  &-songLinks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    @include respond(break-850) {
      width: 100%;
      text-align: center;
    }
  }
  &-video {
    width: 100%;
    height: 100%;
  }

  &-header {
    margin-bottom: 2rem;
    font-size: 6rem;
    color: $color-white;
    font-weight: 300;
    @include respond(break-850) {
      font-size: 4rem;
    }
  }
}

.videoPage-songLinks {
  &-header {
    font-size: 4rem;
    font-weight: 400;
    color: $color-white;
    @include respond(break-850) {
      font-size: 3rem;
    }
  }
  &-list {
    list-style: none;
  }
  &-listItem {
    padding: 1rem 0;
    text-decoration: underline;
    text-align: center;
  }
}

.videoPage-link {
  font-size: 2.5rem;
  cursor: pointer;
  color: $color-link;
  @include respond(break-850) {
    font-size: 1.5rem;
  }
}

.u-margin-top-1rem-mobile {
  margin-top: 1rem;
}

.videoPage-separator {
  width: 2px;
  height: 5rem;
  background-color: $color-black;
}
