<nav class="navBar">
  <div class="navBar__logo">
    <span class="navBar__logo--letter1">S</span>
    <span class="navBar__logo--letter2">B</span>
    <span class="navBar__logo--letter3">J</span>
  </div>
  <ul class="navBar__list">
    <li class="navBar__list--item">
      <a href="/index.html">Home</a>
    </li>
    <li class="navBar__list--item">
      <a href="/bodhi/about.html">About</a>
    </li>
    <li class="navBar__list--item">
      <a href="/bodhi/shows.html">Shows</a>
    </li>
    <li class="navBar__list--item">
      <a href="/bodhi/video.html">Video Sample</a>
    </li>
    <li class="navBar__list--item">
      <a href="/bodhi/contact.html">Contact</a>
    </li>
  </ul>
</nav>
