<nav class="landing-navBar">
  <!-- navBar__landing -->
  <div class="navBar-logo">
    <!-- navBar__logo -->
    <span class="letter1">S</span>
    <!-- navBar__logo--letter1 -->
    <span class="letter2">B</span>
    <!-- navBar__logo--letter2 -->
    <span class="letter3">J</span>
    <!-- navBar__logo--letter3 -->
  </div>
  <ul class="navBar-list">
    <!-- navBar__list -->
    <li class="navBar-list--item">
      <a href="/index.html">Home</a>
    </li>
    <!-- navBar__list--item -->
    <li class="navBar-list--item">
      <a href="/bodhi/about.html">About</a>
    </li>
    <li class="navBar-list--item">
      <a href="/bodhi/shows.html">Shows</a>
    </li>
    <li class="navBar-list--item">
      <a href="/bodhi/video.html">Video Sample</a>
    </li>
    <li class="navBar-list--item">
      <a href="/bodhi/contact.html">Contact</a>
    </li>
  </ul>
</nav>
