<div class="mobileNav-container">
  <!-- navBar__mobile -->
  <div class="mobileNav-logo">SBJ</div>
  <!-- navBar__logo -->
  <a href="index.html" class="mobileNav-text">Sam Bodhi Jazz</a>
  <!-- navBar__link -->
  <span class="icon" id="mobileNav"><i class="fa fa-bars"></i></span>
</div>
<div class="topnav">
  <!-- subNav -->
  <div id="myLinks">
    <a href="/index.html">Home</a>
    <a href="/bodhi/about.html">About</a>
    <a href="/bodhi/shows.html">Shows</a>
    <a href="/bodhi/video.html">Video Sample</a>
    <a href="/bodhi/contact.html">Contact</a>
  </div>
</div>
