<!-- Modal -->

<div class="modal__songs modal__songs--jazz pointerEvents-none" id="jazzModal">
  <!-- closeModal -->
  <span class="modal__close--songs">
    <img src="/img/x.png" alt="" />
  </span>
  <h4 class="modal__header--songs">Selected Jazz</h4>
  <div class="modal__songs--separator"></div>
  <div class="modal__songs--content">
    <ul class="modal__list">
      <!-- Nunjucks Render List - Jazz One -->
      {% for list in jazzOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render List - Jazz Two -->
      {% for list in jazzTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Modal -->
<div
  class="modal__songs modal__songs--blues pointerEvents-none"
  id="bluesModal"
>
  <!-- closeModal -->
  <span class="modal__close--songs">
    <img src="/img/x.png" alt="" />
  </span>
  <h4 class="modal__header--songs">Selected Blues</h4>
  <div class="modal__songs--separator"></div>
  <div class="modal__songs--content">
    <ul class="modal__list">
      <!-- Nunjucks Render List - Blues One -->
      {% for list in bluesOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render List - Blues Two -->
      {% for list in bluesTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Modal -->
<div
  class="modal__songs modal__songs--americana pointerEvents-none"
  id="americanaModal"
>
  <!-- closeModal -->
  <span class="modal__close--songs">
    <img src="/img/x.png" alt="" />
  </span>
  <h4 class="modal__header--songs u__font-size--small">Selected Americana</h4>
  <div class="modal__songs--separator"></div>
  <div class="modal__songs--content">
    <ul class="modal__list">
      <!-- Nunjucks Render List - Americana One -->
      {% for list in americanaOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render List - Americana Two -->
      {% for list in americanaTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Modal -->
<div
  class="modal__songs modal__songs--original pointerEvents-none"
  id="originalModal"
>
  <!-- closeModal -->
  <span class="modal__close--songs">
    <img src="/img/x.png" alt="" />
  </span>
  <h4 class="modal__header--songs">Selected Originals</h4>
  <div class="modal__songs--separator"></div>
  <div class="modal__songs--content">
    <ul class="modal__list">
      <!-- Nunjucks Render List - Originals -->
      {% for list in originals %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
