<!-- Imports -->
{% import 'macros/title-macro.html' as head %}

<!-- Meta Blocks -->
{% extends "layout_two.html" %}

<!-- Block Title -->
{% block title %} {{head.title('About')}} {% endblock %}

<!-- Block Content -->
{% block content %}

<!-- Partial 1 NJK-->
{% include "partials/nav/nav_mobile.html" %}

<!-- Partial 2 NJK-->
{% include "partials/nav/nav_desktop.html" %}

<!-- Partial 3 NJK-->
{% include "partials/pages/about.html" %}

<!-- Partial 4 NJK-->
{% include "partials/footer.html" %}

<!-- Endblock -->
{% endblock %}
