<section class="about">
  <!-- Partial Modal NJK -->
  {% include "partials/modal_origin.html" %}
  <h3 class="about__heading">About</h3>
  <div class="container__columns--2">
    <div class="about__column--left">
      <div class="about__bio">
        <h4 class="about__subHeading">Sam Bodhi</h4>
        {% for text in about %}
        <p class="about__text">{{text.paragraph}}</p>
        {% endfor %}
        <div class="about__link--container">
          <div class="about__link">Origins of Sam Bodhi</div>
        </div>
      </div>
    </div>
    <div class="about__column--right">
      <div class="about__image">
        <img
          src="/img/sam-bodhi-landing3-cropped.JPG"
          alt="Sam Bodi Sketch"
          class="image"
        />
      </div>
    </div>
  </div>
</section>
