<section class="about">
  <h3 class="about__heading">About</h3>
  <div class="container__columns--2">
    <div class="about__column--left">
      <div class="about__bio">
        <div class="modal__origin pointerEvents-none">
          <span class="modal__close" id="modalCloseOrigin">
            <div class="modal__close--line1"></div>
            <div class="modal__close--line2"></div>
          </span>
          <h4 class="modal__header">Anuttara Samyak Sambodhi</h4>
          {% for text in origin %}
          <p class="modal__text">{{text.paragraph}}</p>
          {% endfor %}
        </div>
        <h4 class="about__subHeading">Sam Bodhi</h4>
        {% for text in about %}
        <p class="about__text">{{text.paragraph}}</p>
        {% endfor %}
        <div class="about__link">Origins of Sam Bodhi</div>
      </div>
    </div>
    <div class="about__column--right">
      <div class="about__image">
        <img
          src="/img/sam-bodhi-landing3-cropped.JPG"
          alt="Sam Bodi Sketch"
          class="image"
        />
      </div>
    </div>
  </div>
</section>
