<section class="mainContent mainContent-contact">
  <div class="mainContent-centered--contact">
    <h3 class="mainContent-heading--contact">Contact</h3>
    <div class="mainContent-form">
      <form
        class="contactForm"
        id="form"
        method="post"
        action="https://formsubmit.co/db92dabc6689ef63428cc369d4de7484"
        enctype="multipart/form-data"
      >
        <div class="contactForm-inputContainer-flex">
          <div class="contactForm-inputContainer--name">
            <label class="contactForm-label" for="firstName">First Name:</label>
            <input
              value=""
              class="contactForm-name"
              type="text"
              name="firstName"
              id="formFirstName"
              required
            />
          </div>
          <div class="contactForm-inputContainer--name">
            <label class="contactForm-label" for="lastName">Last Name:</label>
            <input
              value=""
              class="contactForm-name"
              type="text"
              name="lastName"
              id="formLastName"
              required
            />
          </div>
        </div>
        <div class="contactForm-inputContainer">
          <label class="contactForm-label" for="email">Email:</label>
          <input
            value=""
            class="contactForm-email"
            type="text"
            name="email"
            id="formEmail"
            required
          />
        </div>
        <div class="contactForm-inputContainer">
          <label class="contactForm-label" for="subject">Subject:</label>
          <input
            value=""
            class="contactForm-subject"
            type="text"
            name="subject"
            id="formSubject"
            required
          />
        </div>
        <div class="contactForm-inputContainer">
          <label class="contactForm-label" for="message">Message:</label>
          <textarea
            value=""
            class="contactForm-message"
            type="text"
            name="message"
            id="formMessage"
            required
          ></textarea>
        </div>
        <div class="contactForm-inputContainer-btn">
          <input
            class="contactForm-btn"
            type="submit"
            value="submit"
            id="formSubmit"
          />
        </div>
      </form>
    </div>
  </div>
</section>
