<section class="landing">
  <div class="landing__header">
    <h1 class="landing__header--mainHead">Sam Bodhi Jazz</h1>
    <h2 class="landing__header--subHead">
      Innovative Jazz Piano & Vocal Styling
    </h2>
    <button class="landing__header--btn">
      <a href="/bodhi/contact.html">Contact</a>
    </button>
  </div>
  <div id="landingArrow" class="landing__arrow scrollArrow">&#8595;</div>
</section>
<section id="about" class="mainContent">
  <h3 class="about__heading">About</h3>
  <div class="container__columns--2">
    <div class="about__column--left">
      <div class="about__bio">
        <div class="modal__origin pointerEvents-none">
          <span class="modal__close">
            <div class="modal__close--line1"></div>
            <div class="modal__close--line2"></div>
          </span>
          <h4 class="modal__header">Anuttara Samyak Sambodhi</h4>
          {% for text in origin %}
          <p class="modal__text">{{text.paragraph}}</p>
          {% endfor %}
        </div>
        <h4 class="about__subHeading">Sam Bodhi</h4>
        {% for text in about %}
        <p class="about__text">{{text.paragraph}}</p>
        {% endfor %}
        <div class="about__link">Origins of Sam Bodhi</div>
      </div>
    </div>
    <div class="about__column--right mobile-display-none">
      <div class="about__image">
        <img
          src="/img/sam-bodhi-landing3-cropped.JPG"
          alt="Sam Bodi Sketch"
          class="image"
        />
      </div>
    </div>
  </div>
</section>
