<section class="shows">
  <!-- Background Image -->
  <video
    class="shows__background shows__background--left"
    autoplay
    muted
    loop
    src="/img/sam-bodhi-2_Trim.mp4"
    type="video/mp4"
  ></video>
  <!-- Background Image -->
  <video
    class="shows__background shows__background--right"
    autoplay
    muted
    loop
    src="/img/sam-bodhi-2_Trim.mp4"
    type="video/mp4"
  ></video>
  <!-- Main Content -->
  <div class="shows__content">
    <h3 class="shows__header">Shows</h3>
    <!-- Upcoming Shows -->
    <div class="upcomingShows">
      <!-- Show Details -->
      <div class="showDetails">
        <p class="showDetails__date">Tue, 5:30pm - 8:00pm, May 2, 2023</p>
        <p class="showDetails__location">
          C Street, 312 Cherry St, Green Bay, WI
        </p>
        <p class="showDetails__performers">Sam Bodhi</p>
      </div>
      <!-- Show Details -->
      <div class="showDetails">
        <p class="showDetails__date">Sun, Nov 13, 2022</p>
        <p class="showDetails__location">The Neville Theater, Green Bay, WI</p>
        <p class="showDetails__performers">Sam Bodhi</p>
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=8AZfIdiA108&list=PLcmfvySObjcrYFd4QsG6n51Wbh44C0NTI&ab_channel=SamBodhi"
          class="showDetails__link"
        >
          Watch Now
        </a>
      </div>
      <!-- Show Details -->
      <div class="showDetails">
        <p class="showDetails__date">Tue, 5:30pm - 8:00pm, Feb 7, 2023</p>
        <p class="showDetails__location">
          C Street, 312 Cherry St, Green Bay, WI
        </p>
        <p class="showDetails__performers">Sam Bodhi</p>
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=sMWo35YqY0c&list=PLcmfvySObjcqov2G3mKfLXjfQbXkdDg_U&ab_channel=SamBodhi"
          class="showDetails__link"
        >
          Watch Now
        </a>
      </div>
      <!-- Show Details -->
      <div class="showDetails">
        <p class="showDetails__date">Tue, 5:30pm - 8:00pm, Mar 28, 2023</p>
        <p class="showDetails__location">
          C Street, 312 Cherry St, Green Bay, WI
        </p>
        <p class="showDetails__performers">Sam Bodhi</p>
      </div>
    </div>
    <!-- Song List -->
    <div class="songList">
      <h4 class="songList__header songList__header--shows">
        Selected Repertoire
      </h4>
      <div class="songList__link" id="jazz">Jazz List</div>
      <div class="songList__link" id="blues">Blues List</div>
      <div class="songList__link" id="americana">Americana List</div>
      <div class="songList__link" id="original">Original List</div>
    </div>
  </div>
  <!-- Partial Modal NJK -->
  {% include "partials/modal_songs.html" %}
  <div class="modal__songs--outer pointerEvents-none u__z-index--1"></div>
</section>
