<section class="mainContent-shows">
  <video
    class="video-background-left"
    autoplay
    muted
    loop
    src="/img/sam-bodhi-2_Trim.mp4"
    type="video/mp4"
  ></video>
  <video
    class="video-background-right"
    autoplay
    muted
    loop
    src="/img/sam-bodhi-2_Trim.mp4"
    type="video/mp4"
  ></video>
  <div class="mainContent-centered">
    <h3 class="mainContent-heading--shows">Shows</h3>
    <div class="showList">
      <div class="showList-setGroup">
        <p class="showList-date">Sun, Nov 13, 2022</p>
        <p class="showList-location">The Neville Theater, Green Bay, WI</p>
        <p class="showList-performers">Sam Bodhi</p>
        <a
          target="_blank"
          href="https://www.youtube.com/embed/videoseries?list=PLcmfvySObjcrYFd4QsG6n51Wbh44C0NTI"
          class="showList-tickets"
        >
          Watch Now
        </a>
      </div>
      <div class="showList-setGroup">
        <p class="showList-date">Tue, 5:30pm, Feb 7, 2023</p>
        <p class="showList-location">C Street, 312 Cherry St, Green Bay, WI</p>
        <p class="showList-performers">Sam Bodhi</p>
      </div>
    </div>
    <div class="shows-repertoireContainer">
      <h4 class="shows-repertoireHeader">Selected Repertoire</h4>
      <div class="shows-repertoire--text" id="jazz">Jazz List</div>
      <div class="shows-repertoire--text" id="blues">Blues List</div>
      <div class="shows-repertoire--text" id="americana">Americana List</div>
      <div class="shows-repertoire--text" id="original">Original List</div>
    </div>
  </div>
  <div
    class="modal__video modal__video--jazz pointerEvents-none"
    id="jazzModal"
  >
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Jazz</h4>

    <ul class="modal__list">
      <!-- Nunjucks Render Jazz One -->
      {% for list in jazzOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Jazz Two -->
      {% for list in jazzTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div
    class="modal__video modal__video--blues pointerEvents-none"
    id="bluesModal"
  >
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Blues</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Blues One -->
      {% for list in bluesOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Blues Two -->
      {% for list in bluesTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div
    class="modal__video modal__video--americana pointerEvents-none"
    id="americanaModal"
  >
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Americana</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Americana One -->
      {% for list in americanaOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Americana Two -->
      {% for list in americanaTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div
    class="modal__video modal__video--original pointerEvents-none"
    id="originalModal"
  >
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Originals</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Originals -->
      {% for list in originals %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
