<section class="video">
  <div class="container__outter">
    <div class="container__accent">
      <div class="container__inner">
        <div class="container__demo">
          <h3 class="video__header">The Autumn Leaves</h3>
          <!-- YT Video -->
          <div class="container__video">
            <iframe
              class="video__iframe"
              src="https://www.youtube.com/embed/_CbiHtuKr3s"
              ="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!-- Song List -->
        <div class="songList">
          <h4 class="songList__header">Selected Repertoire</h4>
          <div class="songList__link" id="jazz">Jazz List</div>
          <div class="songList__link" id="blues">Blues List</div>
          <div class="songList__link" id="americana">Americana List</div>
          <div class="songList__link" id="original">Original List</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Partial Modal NJK -->
{% include "partials/modal_songs.html" %}
<div class="modal__songs--outer"></div>
