<section class="video">
  <div class="container__outter">
    <div class="container__accent">
      <div class="container__inner">
        <div class="container__demo">
          <h3 class="video__header">The Autumn Leaves</h3>
          <!-- YT Video -->
          <div class="container__video">
            <iframe
              class="video__iframe"
              src="https://www.youtube.com/embed/_CbiHtuKr3s"
              ="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <!-- Repertoire Links -->
        <div class="repertoire">
          <h4 class="repertoire__header">Selected Repertoire</h4>
          <div class="repertoire__link" id="jazz">Jazz List</div>
          <div class="repertoire__link" id="blues">Blues List</div>
          <div class="repertoire__link" id="americana">Americana List</div>
          <div class="repertoire__link" id="original">Original List</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal__video modal__video--jazz pointerEvents-none"
    id="jazzModal"
  >
    <!-- CloseModal -->
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Jazz</h4>

    <ul class="modal__list">
      <!-- Nunjucks Render Jazz One -->
      {% for list in jazzOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Jazz Two -->
      {% for list in jazzTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Modal -->
  <div
    class="modal__video modal__video--blues pointerEvents-none"
    id="bluesModal"
  >
    <!-- CloseModal -->
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Blues</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Blues One -->
      {% for list in bluesOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Blues Two -->
      {% for list in bluesTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Modal -->
  <div
    class="modal__video modal__video--americana pointerEvents-none"
    id="americanaModal"
  >
    <!-- CloseModal -->
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Americana</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Americana One -->
      {% for list in americanaOne %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul class="modal__list">
      <!-- Nunjucks Render Americana Two -->
      {% for list in americanaTwo %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!-- Modal -->
  <div
    class="modal__video modal__video--original pointerEvents-none"
    id="originalModal"
  >
    <!-- CloseModal -->
    <span class="modal__close">
      <div class="modal__close--line1"></div>
      <div class="modal__close--line2"></div>
    </span>
    <h4 class="modal__header">Selected Originals</h4>
    <ul class="modal__list">
      <!-- Nunjucks Render Originals -->
      {% for list in originals %}
      <li class="list__song">
        <span class="list__song--title">{{list.song.title}}</span>
        <span class="list__song--artist">{{list.song.artist}}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
